.bgcolor {
    background-color: rgba(4, 90, 189, 0.904);
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.box {
    padding: 2%;
    border: 5px solid rgba(4, 90, 189, 0.904);
    border-radius: 10px;
}

.m15 {
    margin-left: 15%;
}

.mt5 {
    margin-top: 2%;
}

.justify {
    text-align: justify;
}